.post {
    border-top: 2px dotted green;
    border-right: 4px dashed pink;
    border-bottom: 1px solid purple;
    border-left: 4px dotted cyan;
}

.post {
    border: 3px solid #505050;
}

.post {
    border-width: 3px;
    border-color: #505050;
    border-style: solid;
}

.post {
    border-top-width: 3px;
    border-top-color: blue;
    border-top-style: solid;
}

